body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ff0000, #a02398f7, #000000);
    font-family: monospace;
    .perfil {
    width: 450px;
    max-width: 90%;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 40px;
    text-align: center;
    border-radius: 24px;
    box-shadow: 0 10px 40px rgba(200, 40, 40, 0.856);
    border: 1px solid rgba(185, 54, 54, 0.908);
}
img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #c73030b4;
    margin-bottom: 15px;
}
h1 {
    color: #ffffff;
    margin: 10px 0 5px 0;
    font-size: 28px;
    letter-spacing: 1px;
}
h3 {
    color: #00ffe1b4; 
    margin: 0 0 20px 0;
    font-weight: 500;
}
p {
    color: #e2e8f0;
    margin: 8px 0;
    font-size: 16px;
}
p a {
    color: #f1f3f2;
    text-decoration: none;
    font-weight: 500;
}
p a:hover {
    text-decoration: underline;
}
button {
    width: 120px;
    height: 45px;
    margin: 20px 8px 0 8px;
    border: none;
    border-radius: 12px;
    background-color: #e07183d3;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}
button:hover {
    background-color: #fbfdff;
    transform: translateY(-2px);
}
